<div class="container">
  <div class="col-md-6">
    <h1 class="text-center">About Us</h1>
    <p>We are DevMatch. Our company focuses on creating an exclusive community for
    developers, investors and entrepreneurs to meet.</p>
  </div>
  <div class="col-md-6">
    <%= image_tag("aboutus.png", class: "img-responsive") %>
  </div>
</div>